#!/usr/bin/make -f

# Debian package build rules for PyRadio

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	# Install desktop file
	install -D -m 0644 data/pyradio.desktop debian/pyradio/usr/share/applications/pyradio.desktop
	# Install icon
	install -D -m 0644 data/pyradio.png debian/pyradio/usr/share/pixmaps/pyradio.png

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build *.egg-info
