[Desktop Entry]
Version=1.0
Type=Application
Name=PyRadio
GenericName=Internet Radio Player
Comment=Listen to internet radio stations
Icon=pyradio
Exec=pyradio
Terminal=false
Categories=AudioVideo;Audio;Player;GTK;
Keywords=radio;stream;music;audio;internet;
StartupNotify=true
